{% extends 'base.html' %}

{% block titulo %}
    Adicionar endereço
{% endblock %}

{% block body %}
    <main class="principal">
        <section class="conta">
            <div class="conta__container">
                <div class="checkout__titulos">
                    <p class="checkout__titulo">Adicione um endereço</p>
                </div>
                <form class="conta__form" action="{% url 'adicionar_endereco' %}" method="POST">
                    {% csrf_token %}
                    <div class="conta__item">
                        <label for="rua">Logradouro</label>
                        <input name="rua" type="text" />
                    </div>
                    <div class="conta__item">
                        <label for="numero">Número</label>
                        <input name="numero" type="number" />
                    </div>
                    <div class="conta__item">
                        <label for="bairro">Bairro</label>
                        <input name="bairro" type="text" />
                    </div>
                    <div class="conta__item">
                        <label for="cidade">Cidade</label>
                        <input name="cidade" type="text" />
                    </div>
                    <div class="conta__item">
                        <label for="estado">Estado</label>
                        <input name="estado" type="text" />
                    </div>
                    <div class="conta__item">
                        <label for="cep">CEP</label>
                        <input name="cep" type="number" />
                    </div>
                    <button class="subtotal__botao" type="submit">Adicionar endereço</button>
                </form>
                <a href="{% url 'checkout' %}">Voltar para a compra</a>
            </div>
        </section>
    </main>
{% endblock %}